<h1>Practical Angular and Dotnet Core API Exercise</h1>

<p>Exercise Description:</p>

<p>Implement the following functions to this web app.</p>
<ul>
  <h4>Dotnet API - Controller name is MovieController ([base url]:5001/movie)</h4>
   
  <ul>
    <li>1. Implement a <strong>GET</strong> API to get a list of movie titles from the databse table project</li>
      
    <li>2. Implement a <strong>POST</strong> Method Movie API to create a new movie title to databse table project</li>
  </ul>
   

  <h4>Angular UI</h4>
  <ul>
    <li>1. Implement Movie title listing component to list all the movies title using the <strong>GET</strong> API </li>
    <li>2. Implement Create New Movie component to create a movies title using  <strong>Post</strong> Movie API  </li>
    <li>3. Add the above component in the Nav bar using angular Routes.</li>
    <li>** A class model is defined in movie.ts  </li>
  </ul>
  <h4>Bounce</h4>
  <ul>
    <h4>API</h4>
    <li>1. Implement a <strong>GET</strong> API to get a list of movie title from a join tables project and production. The relation key is ProjectId</li>
    <li>2. Implement a <strong>PUT</strong> Method Movie API to update a movie title and release date</li>
    <h4>UI</h4>
    <li>1. In the movie listing compoment, put button to expend a form to update the movie title and releaseDate.</li>
  </ul>
</ul>

